
table {
  /* width: 100%; */
  border-collapse: collapse;
  font-family: sans-serif;
  table-layout: auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  min-width: 200px;
  white-space: normal; 
  word-break: break-word;
  font-family: 'Roboto';
  font-weight: 400;
}

td {
   text-align: right;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 2px solid #888;
 
}

td:first-child {
  text-align: left;
}

tr {
  position: relative;
  z-index: 0;
}

th {
  background: #e0e0e0;
  text-align: left;
  border-bottom: 1px solid lightgray;
  padding: 2px 4px;
  position: relative;
}

.selected-cell {
  background: rgb(74, 144, 226) !important;
  
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.pin-button {
  background: transparent;
  border: none;
  cursor: grab;
  padding: 2px 4px;
  /* Remove height if you want the icon to be normal size */
  /* height: 10px; */
  font-size: 1.1em;
  position: absolute;
  top: 2px;
  right: 24px;
  z-index: 2;
}

.dragable-button {
  background: transparent;
  border: none;
  cursor: grab;
  padding: 2px 4px;
  /* Remove height if you want the icon to be normal size */
  /* height: 10px; */
  font-size: 1.1em;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
}
